*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-weight: bold;
    margin: 36px 0 36px 0; 
}
header{
    height: 60px;
    
}
header nav{
    height: inherit; 
    background-color: darkgray;
    font-weight: bold;
}
header nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;

    
}
nav ul li{
    padding: 1rem 1rem;
    margin: 0 1rem;
}
header nav ul li img{
    width: 1.5rem;
    cursor: pointer;
    
}
.hero-image{
    background-repeat: no-repeat;
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../images/hero-img.png');
}

.menu {
    margin-left: auto;
}   

p{
    text-align: center;
    margin: 36px 140px;
}    
footer{
    height: 60px;
}
.images {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer nav ul{
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    
} 
 nav ul li{
    margin: 0 1rem;
 }
